header {
    text-align: center;
}

today {
    background-color: darkgrey;
}

.days {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: lightblue;
}

#uv-index {
    font-weight: bolder;
}

.severe {
    color: darkred
}

.high {
    color: orange
}

.med {
    color: yellow
}

.low {
    color: greenyellow
}